.News {
  min-height: 100vh;
  padding: 2rem 1rem 2rem 1rem;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.News-h1 {
  font-family: 'Fredoka One', cursive;
  text-align: start;
  font-size: 2rem;
  line-height: 3rem;
}

.News-1, .News-2, .News-3, .News-4, .News-5 {
  min-height: 15vh;
  padding: 0rem 2rem 0rem 2rem;
}

.News-logo-1, .News-logo-2, .News-logo-3, .News-logo-4, .News-logo-5 {
  max-width: 55vw;
  max-height: 10vh;
  cursor: pointer;
}
