.HowItWorks {
  min-height: 100vh;
}

.HowItWorks-h1 {
  font-family: 'Fredoka One', cursive;
  text-align: start;
  font-size: 2rem;
  line-height: 1.4rem;
  padding: 1rem 0rem 2rem 0rem;
}

.HowItWorks-p {
  text-align: start;
  font-size: 2rem;
  line-height: 1.4rem;
  padding: 1rem 0rem 2rem 0rem;
}