.Plans {
  min-height: 100vh;
  padding: 2rem 0rem 2rem 0rem;
}

.Plans-h1 {
  font-family: 'Fredoka One', cursive;
  text-align: start;
  font-size: 1.7rem;
  line-height: 2rem;
}

.Plans-h2 {
  font-family: 'Fredoka One', cursive;
  text-align: start;
  font-size: 1.5rem;
  line-height: 3rem;
}

.Plans-p {
  text-align: start;
  font-size: 1.1rem;
  line-height: 2rem;
  font-family: 'Open Sans', sans-serif;
}

.Plans-1, .Plans-2, .Plans-3, .Plans-4, .Plans-5{
  min-height:18vh;
  padding: 0rem 2rem 0rem 2rem;
}

.Plans-small, .Plans-medium, .Plans-big, .Plans-business {
  border-radius: 15px;
  padding: 1rem;
}

.Plans-small {
background-color: #EEC170;
}

.Plans-medium {
  background-color: #F2A65A;
}

.Plans-big {
  background-color: #F58549;
}

.Plans-business {
  background-color: rgb(84, 77, 64);
  color: white;
}